<div class='container mt-3'>
  <h1>My tasks</h1>
  <ul class='list-unstyled'>
    <% @tasks.each do |task|%>
      <li>
        <%= check_box_tag 'completed', 'completed', task.completed  %>
        <%= link_to task.title, task_path(task), class: 'text-decoration-none' %>
        &middot;
        <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: "Delete #{task.title}?"} do %>
          <%= tag.span class: %w[far fa-trash-alt] %>
        <% end %>
        </li>
    <% end %>
  </ul>
  <hr>
  <%= link_to new_task_path do %>
    <%= tag.span class: %w[fas fa-plus] %>
    Add a new task
  <% end %>
</div>
