<div class='container mt-3'>
  <div class="d-flex justify-content-between">
    <div>
      <h1><%= @task.title %></h1>
    </div>
    <div>
      <%= link_to edit_task_path, id: 'edit', class: 'btn' do %>
      <%= tag.span class: %w[fas fa-pencil-alt] %>
      Edit this task
      <% end %>
    </div>
  </div>
  <p><%= @task.details %></p>
  <p><%= @task.completed %></p>
  <hr>
  <%= link_to tasks_path, class: 'text-decoration-none' do %>
    <%= tag.span class: %w[fas fa-history] %>
    Back to list
  <% end %>
</div>
